<Directory "/public_html/algarson/frontend/build">
    Require all granted
</Directory>

# Set default index file
DirectoryIndex index.html

<IfModule mod_rewrite.c>
    RewriteEngine On
    # Base directory of your app
    RewriteBase /algarson/frontend/build/
    
    # Redirect all non-existent files/directories to index.html
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.html [L]
</IfModule>