@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --primary-color: rebeccapurple;
    --secondary-dark-color: #242424;
    --primary-bg-color: #151515;
    --primary-dark-font-color: #b8b7b7;

    --white-bg-color: #E9E8DE;
}

.home-container{
    width: 100vw;
    height: 100vh;
    /* border: 2px solid red; */
    background-color: var(--primary-bg-color);
    color: white;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: rebeccapurple black;
    
}

.navbar{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: sticky;
    backdrop-filter: blur(5px);
    top: 0;
    z-index: 2;

}

.navbar-tags span {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.navbar-tags img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.navbar-tags{
    display: flex;
    /* border: 2px solid green; */
}

.navbar-tags:first-child {
    margin-right: 60%; /* Push the first child to the left */
}

.navbar a{
    text-decoration: none;
    color: white;
    margin: 0 15px;
    color: var(--primary-dark-font-color);
}
.navbar a:hover{
    color: var(--primary-color);
}

/* START OF SECTION 1 */

#section-1{
    width: 100%;
    height: 90%;
    /* border: 2px solid palegreen; */
}
.title-text{
    /* border: 2px solid salmon; */
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vw;
    font-weight: bolder;
}
.title-text span{
    color: var(--primary-color);
}

.title-desc{
    width: 100%;
    height: 500px;
    /* border: 2px solid rebeccapurple; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-dark-font-color);

}
.left-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100px;
    /* border: 2px solid salmon; */
    margin-left: 8.5em;
    text-align: left;
    font-size: 12px;
}

.left-text span{
    color: var(--primary-color);
}
.right-text{
    /* border: 2px solid brown; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 700px;
    height: 100px;
}
.right-text li{
    list-style: none;
    width: 50px;
    height: 50px;
    /* border: 2px solid green; */
}
.right-text img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* border-radius: 20px; */

}

/* SECTION 1 */
.section-1-content{
    /* border: 2px solid brown; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.left-container{
    /* border: 1px solid red; */
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--primary-dark-font-color);
}
.d-letter{
    color: #FFDF00;
}
.e-letter{
    color: #3975A5;
}
.s-letter{
    color: #6DAFE0;
}
.i-letter{
    color: #FC490B;
}
.g-letter{
    color: #2196F3;
}
.n-letter{
    color: #00CF7F;
}
.e2-letter{
    color: #F57F17;
}
.r-letter{
    color: #FF4D12;
}
.shaped-div{
    background: rgb(82,23,121);
background: linear-gradient(90deg, rgba(82,23,121,1) 45%, rgba(255,255,255,1) 100%);
    width: 90%;
    height: 55%;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* border: 2px solid green; */
}
.right-container{
    /* border: 1px solid red; */
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-weight: bold;
}

/* Image in shape */
.landpage-image{
    height: 640px;
    width: 350px;
    /* border: 2px solid yellow; */
}
.landpage-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* END OF SECTION 1 */



/* SECTION 2 */
#section-2{
    width: 100vw;
    height: 135vh;
    /* border: 2px solid red; */
}
.project-container{
    padding-top: 4em;
    width: 100%;
    height: 100%;
    /* border: 2px solid green; */
}
.project-container h2{
    width: 100%;
    /* border: 2px solid salmon; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 8em;
    color: var(--primary-dark-font-color);
}
.project-content{
    width: 100%;
    height: 94%;
    /* border: 2px solid yellowgreen; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* PROJECT CARDS */
.project-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 85%;
    height: 100%;
    /* border: 2px solid brown; */
    gap: 20px;
    padding-top: 1em;
}
.project-cards{
    width: 350px;
    height: 360px;
    /* border: 2px solid yellow; */
    background-color: #242424;
    border-radius: 17px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.proj-image-slider {
    /* border: 2px solid red; */
    display: flex;
    width: 100%;
    min-height: 55%;
    overflow: hidden;
    position: relative;
}
.proj-image-slider1 {
    /* border: 2px solid red; */
    display: flex;
    width: 100%;
    min-height: 55%;
    overflow: hidden;
    position: relative;
}
.proj-image-slider2 {
    /* border: 2px solid red; */
    display: flex;
    width: 100%;
    min-height: 55%;
    overflow: hidden;
    position: relative;
}

.proj-image {
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease-in-out;
}
.proj-image1 {
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease-in-out;
}
.proj-image2 {
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease-in-out;
}

.proj-details{
    width: 100%;
    height: 100%;
    /* border: 2px solid green; */
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.proj-lang{
    /* border: 1px solid salmon; */
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
.proj-lang .lang p{
    font-size: 12px;
}
.lang{
    /* border: 1px solid rebeccapurple; */
    background-color: var(--primary-bg-color);
    width: 100px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.proj-details p{
    font-size: 14px;
    text-align: left;
}
.proj-text{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid salmon; */
    width: 100%;
    height: 100%;
    font-weight: bold;
    /* padding: 5px; */
}
.proj-text span{
    color: var(--primary-color);
}
.proj-btn{
    width: 100%;
    height: 50%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* margin-right: 0.5em; */
    gap: 4px;
}
.proj-btn1{
    width: 100%;
    height: 50%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 0.5em; */
}
.proj-status{ 
    margin-left: 10px;
    color: #34C759;
}


.qr-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 40px;
    height: 100%;
    background-color: var(--primary-bg-color);
    border: none;
    border-radius: 8px;
    transition: all 0.6s ease;
    margin-right: 1px;
}
.qr-btn span{
    font-size: large;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: var(--primary-bg-color);
    padding: 20px;
    border-radius: 10px;
    position: relative;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .modal-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
  }
  
  .close-btn:hover {
    color: var(--primary-color);
  }
.btn{
    background-color: #ffffff00;
    color: #fff;
    width: 100px;
    height: 100%;
    background-color: var(--primary-bg-color);
    border: none;
    border-radius: 10px;
    transition: all 0.6s ease;
    margin-right: 1px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.qr-btn:hover{
    background-color: var(--primary-color);
    cursor: pointer;
}

.btn:hover {
    background-color: var(--primary-color);
    cursor: pointer;
  }

.filler-text{
    /* border: 2px solid green; */
    width: 100%;
    color: var(--primary-dark-font-color);
}
/* END OF SECTION 2 */



/* SECION 3 */
#section-3{
    width: 100vw;
    height: 89.5vh;
    color: var(--primary-dark-font-color);
    /* border: 2px solid green; */
}
.section3-container{
    /* border: 2px solid salmon; */
    width: 100%;
    height: 100%;
}
.section3-content{
    /* border: 2px solid skyblue; */
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section3-container h2{
    width: 100%;
    /* border: 2px solid salmon; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 7.7em;
    color: var(--primary-dark-font-color);
}
.sec3-form{
    /* border: 2px solid yellowgreen; */
    width: 50em;
    height: 25em;
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-dark-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
}
.left-image{
    /* border: 2px solid yellow; */
    width: 40%;
    height: 100%;
}
.left-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.right-form{
    /* border: 2px solid violet; */
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-header{
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    /* border: 1px solid green; */
}
/* FORM CSS */
.form{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 80%;
    height: 20em;
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.form-group label {
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
    margin-top: 5px;
}
.form-group input {
    width: 100%;
    padding: 10px 14px;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid #ccc;
}
.message-input {
    height: 90px;
    resize: none;
    padding: 10px 14px; /* Add padding for proper spacing */
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box; /* Ensures padding is included in the height/width */
    display: block; /* Ensures it's a block element */
  }
  .message-input:focus {
    outline: none;
    border-color: var(--primary-color);
  }
.form-group input::placeholder {
    opacity: 0.5;
}
.form-group textarea::placeholder{
    opacity: 0.5;
}
.form-group input:focus {
    outline: none;
    border-color: var(--primary-color);
}
.submit-button{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
}
.submit-button button{
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: none;

    background-color: var(--primary-bg-color);
    color: #fff;
    border-radius: 10px;
    transition: all 0.6s ease;
}


.submit-button button:hover{
    background-color: var(--primary-color);
    cursor: pointer;
}
/* END OF SECTION 3 */

/* FOOTER */
.paa{
    width: 100%;
    height: 9.5em;
    /* border: 2px solid red; */
    background-color: var(--secondary-dark-color);
}
.footer-container{
    /* border: 1px solid salmon; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-logo{
    /* border: 1px solid yellowgreen; */
    width: 20%;
    height: 100%;
}
.footer-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer-desc{
    /* border: 1px solid yellowgreen; */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-desc-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2em;
    /* border: 1px solid violet; */
    text-align: left;
    color: var(--primary-dark-font-color);
}
.footer-desc-content span{
    color: var(--primary-color);
}
.footer-icons{
    /* border: 1px solid yellowgreen; */
    width: 30%;
    height: 100%;
}
.footer-icons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    /* border: 1px solid green; */
    width: 100%;
    height: 100%;
}
.footer-icons-container img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease; /* Smooth hover effect */
}
.footer-icons-container img:hover{
    transform: scale(1.2); /* Slightly enlarge the image */
    filter: brightness(1.3); /* Brighten the image */
}

/* RESPONSIVE */
@media (min-width:320px ) and (max-width: 425px ){
    .navbar a{
        display: none;
    }
    .title-desc{ /*PARENT OF TEXT AND ICON ABOVE*/
        flex-direction: column;
        justify-content: center;
    }
    .left-text{ /*LEFT TEXT ABOVE*/
        width: 100%;
        text-align: center;
        margin-left: 0;
        padding: 1em;
    }
    .right-text{ /*RIGHT TEXT ABOVE*/
        width: 100%;
        justify-content: space-evenly;
        gap: 5px;
        height: 50%;
        flex-wrap: wrap;
    }
    .right-text li{
        width: 30px;
        height: 30px;
    }

    .left-container{
        display: none;
    }
    .right-container{
        display: none;
    }
    .shaped-div{
        width: 100%;
        justify-content: center;
    }
    .landpage-image{
        height: 550px;
        display: flex;
    }
    /* END OF SECTION 1 */
    .project-container{
        height: 90em;
    }
    .project-container h2{
        padding-left: 1em;
    }

    #section-3{
        margin-top: 59em;
        height: 100vh;
    }
    .section3-content{
        gap: 5em;
        height: 80%;
        /* border: 1px solid green; */
        padding: 0.7em;
    }
    .section3-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section3-container h2{
        padding-left: 1em;
    }
    /* FORM DISPLAY */
    .sec3-form{
        /* display: none; */
        width: 100%;
        height: 100%;
        padding: 0.5em;
    }
    
    .left-image{
        display: none;
    }
    .right-form{
        width: 100%;
    }

    .form-header h3{
        font-size: large;
    }
    .form{
        width: 85%;
    }

    /* FOOTER */
    .paa{
        margin-top: 2em;
    }
    .footer-desc{
        display: none;
    }
    .footer-logo{
        width: 50%;
    }
    .footer-icons{
        width: 50%;
    }
}

@media (min-width:1024px) {
    .left-text{
        margin-left: 2em;
        width: 350px;
        text-align: justify;
    }
    .right-text{
        width: 480px;
        gap: 1em;
    }
    #section-2{
        height: 160vh;
        /* border: 2px solid red; */
    }
    #section-3{
        height: 110vh;
    }
}

@media (min-width:1440px) {
    .title-desc{
        justify-content: space-around;
    }
    .left-text{
        width: 500px;
    }
    .right-text{
        width: 700px;
    }
}
